<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ChipDrop" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\chip_drop.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
<!-- <add name="NewLocalSqlServer" connectionString="data source=(LocalDB)\MSSQLLocalDB;Integrated Security=True;AttachDBFilename=|DataDirectory|aspnetdb.mdf" providerName="System.Data.SqlClient"/> -->
  </connectionStrings>
  
  <system.web>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0"/>
    
<!--    <membership defaultProvider="NewAspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="NewAspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="NewLocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>

    <profile enabled="true" defaultProvider="NewAspNetSqlProfileProvider">
      <providers>
        <clear/>
        <add name="NewAspNetSqlProfileProvider" connectionStringName="NewLocalSqlServer" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </profile>

    <roleManager enabled="true" defaultProvider="NewAspNetSqlRoleProvider">
      <providers>
        <clear/>
        <add name="NewAspNetSqlRoleProvider" connectionStringName="NewLocalSqlServer" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
-->
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>